* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.5px;
}
body {
  background-color: #f1f5f8;
}
h1 {
  color: #fff;
  background-color: #102a42;
  font-weight: 500;
  text-align: center;
  font-size: 28px;
  padding: 20px 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 5px;
}
section div {
  border: 1px solid #000;
  padding: 22px 14px;
  margin: 15px;
  background-color: #fff;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 7px;
  transition: 0.25s ease-in-out;
}
section form {
  display: flex;
  justify-content: center;
  align-items: center;
}
section div:hover {
  box-shadow: 3px 3px 11px 2px rgb(194, 188, 188);
  transform: scale(1.01);
  transition: 0.25s ease-in-out;
}
img {
  height: 37px;
  aspect-ratio: 1;
  margin-right: 10px;
  border-radius: 50%;
}
input {
  flex-grow: 1;
  padding: 2px 5px;
  margin-right: 7px;
}
label {
  margin-right: 5px;
}
button {
  padding: 4px 10px;
  color: #102a42;
  background-color: #f1f5f8;
  border: 1px solid #102a42;
  font-size: 12px;
}
@media (max-width: 1500px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1040px) {
  section {
    grid-template-columns: 1fr;
  }
}
